@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.product-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 120px;
}

.menu-product-card {
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 10px auto;
  background: #fafafa;
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
}

.menu-product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: white;
}

.menu-product-tumb img {
  max-width: 60%;
  max-height: 55%;
}

.menu-product-details {
  padding: 30px;
  padding-top: 10px;
}

.menu-product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
  text-align: center;
}

.menu-product-details h4 a:hover {
  color: #fbb72c;
}

.menu-product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.menu-product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.menu-product-bottom-details div {
  float: left;
  width: 50%;
}

.menu-product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.menu-product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.menu-product-links {
  text-align: right;
}

.menu-product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.menu-product-links a:hover {
  color: #fbb72c;
}

.section-subtitle {
  color: var(--primary-color);
  font-size: var(--normal-font);
  letter-spacing: 1px;
  font-weight: var(--font-medium);
  text-align: center;
}

.menu-product-details p button {
  background: none;
  border: none;
  color: orange;
  cursor: pointer;
  font-size: 14px;
  margin-top: 5px;
  text-decoration: underline;
}

.menu-product-details p button:hover {
  text-decoration: none;
}

.menu-product-details p.expanded-description {
  white-space: normal;
  max-height: none;
  overflow: auto;
}
.itemName {
  text-align: center;
}
.specialButton {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
  border: none;
  background: none;
}
@media (min-width: 850px) and (max-width: 1050px) {
  .menu-product-tumb img {
    max-width: 80%;
    max-height: 55%;
  }
}

@media (min-width: 550px) and (max-width: 849px) {
  .product-card-container {
    margin-left: 20px;
    margin-right: 20px;
  }

  .menu-product-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 549px) {
  .product-card-container {
    margin-left: 70px;
    margin-right: 70px;
  }

  .menu-product-card {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .product-card-container {
    margin-left: 40px;
    margin-right: 40px;
}
}