.about .content-subtitle,
.about .content-title,
.about .content-description{
  text-align: left;
}
.about-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 7rem;
  align-items: center;
  padding: 0 5rem;
  padding-top: 60px;
}
.about-imageContent{
  position: relative;
  max-width: 400px;
  height: 450px;
  border: 6px solid var(--section-bg);
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 150px;

}

.aboutImg-textBox {
  position: absolute;
  bottom: 2rem;
  padding: 2rem;
  max-width: 360px;
  width: 100%;
  text-align: center;
  border: 6px solid var(--section-bg);
  background-color: var(--white-color);
  animation: floatAnimation 4s infinite alternate;
}

@keyframes floatAnimation {
  0% {
    right: -5rem;
  }
  100% {
    right: 5rem;
  }
}

.aboutImg-textBox .content-description {
  text-align: center;
  margin-bottom: 0;
}
.about-details{
  display: grid;
  row-gap: 4rem;
}
.about-lists{
  column-gap: 1rem;
  align-items: baseline;
}
.about-list{
  font-weight: var(--font-medium);
  font-size: 1.8rem;
}
.about-list:nth-child(1){
  color: var(--primary-color);
}
.about-list.dot{
  font-size: 2.5rem;
}
.about-buttons{
  column-gap: 2rem;
}
.about-link .link-text,
.about-arrowIcon{
  color: var(--text-color);
  text-transform: uppercase;
}
.about-arrowIcon{
  transition: var(--tran-0-3);
}
.about-link:hover .about-arrowIcon{
  margin-left: 4px;
}
.section-description,
.content-description{
  text-align: center;
  margin-bottom: 2rem;
}
.section-description{
  padding: 0 16rem;
}

.content-title {
  text-align: center;
  font-size: var(--h2-font);
  font-weight: var(--font-medium);
  margin: 1rem 0;
  color: orange;
  overflow: hidden;
  white-space: nowrap;
}

.expand-animation {
  animation: expandWidth 2s forwards;
}

@keyframes expandWidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.content-title:hover {
  animation: expandWidth 2s forwards;
}


.content-subtitle{
  color: var(--primary-color);
  font-size: var(--normal-font);
  letter-spacing: 1px;
  font-weight: var(--font-medium);
  text-align: center;
}

@media (min-width: 620px) and (max-width: 1015px) {

.about .content-subtitle,
.about .content-title,
.about .content-description {
  text-align: center; 
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.about-imageContent {
  max-width: 100%;
  margin-left: 0px;
}

.aboutImg-textBox {
  max-width: 100%;
}
.content-description{
  margin-left: 50px;
  margin-right: 50px;
}
}


@media (max-width: 619px) {
  .about-content {
    grid-template-columns: 1fr; 
    justify-content: center; 
    padding: 0 2rem; 
  }

  .about-imageContent {
    margin: 0 auto;
    margin-top: 10rem;
  }

  .about-details {
    text-align: center;
  }

  .aboutImg-textBox {
    padding: 2rem;
    text-align: center;
    margin: 2rem 0; 
  }
  .about .content-subtitle,
  .about .content-title,
  .about .content-description{
    text-align: center;
}

}
@media (max-width: 425px) {
  .aboutContainer {
    flex-direction: column;
    align-items: center;
  }

  .about-img {
    max-width: 100%;
  }
  
  .content-subtitle {
    font-size: 1.2rem;
  }

  .content-title {
    font-size: 2rem;
  }

  .content-description {
    font-size: 1rem;
  }
  .about-imageContent{
    width: 70%;
  }
  .aboutImg-textBox {
    margin: -5rem 0;
}
.about-text {
  margin-top: 40px;
}
}